td {
    text-align: center;
}

th {
    text-align: center;
}

[data-test="table-foot"] {
    display: none;
}


[data-test="datatable-select"], 
[data-test="datatable-info"], 
[data-test="datatable-pagination"],
[data-test="datatable-entries"] {
    display: none;
}



label {
    text-align: left;
    width: 75%;
    margin-bottom: 8px;
}

h2 {
    text-align: center;
}
